@charset "ISO-8859-1";
.form{
	position:absolute;
	
	width: 300px;
	height: 250px;
    background-color: rgb(255, 255, 128);	
	border-radius:20px; 
	background: transparent;
 backdrop-filter: blur(5px);
     left:40%;
     top:30%;
     border:solid gray;
	
	
}
a{
	text-decoration:none;
}
.s{
	
	
	
	
}
.submit{
	width:100px;
	background-color:rgb(128, 255, 128);
	padding: 10px;
	border-radius:10px;
}

.submit:hover{
	background-color:green;
	color:white;
}
.image{
	
	position:relative;
	
}
input{
	padding:7px;
}